/** COLORS */

.primary-gradient-color {
    background: linear-gradient(#54b78a, #27e278);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-me {
    list-style: none;
}

.about-me li {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}

.social li {
    display: inline;
    margin-right: 20px;
    text-shadow: #292b2c 2px 5px;
}

#featured {
    width: 25%;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

#resume {
    width: 75%;
    position: relative;
}


/** scroll bar*/

#featured::-webkit-scrollbar {
    width: 4px;
}

#featured::-webkit-scrollbar-track {
    background: #686868;
    border-radius: 10px;
}

#featured::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 991px) {
    #featured {
        width: 100%;
        height: auto;
        position: relative;
    }
    #resume {
        width: 100%;
    }
}