/** COLORS */

.primary-gradient-color {
    background: linear-gradient(#54b78a, #27e278);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-me {
    list-style: none;
}

.about-me li {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    ;
}

#featured {
    width: 25%;
    height: 100vh;
}

#featured .row {
    height: 100%;
}

#resume {
    width: 75%;
}

@media screen and (max-width: 991px) {
    #featured {
        width: 100%;
        height: auto;
    }
    #resume {
        width: 100%;
    }
}