/** COLORS */

.me-grad-green {
    /* background: linear-gradient(45deg, #27e278, #54b78a) url('https://i.stack.imgur.com/oslRB.png');*/
    background-image: url("C:/Users/Alexandre/Desktop/Theme/60286.eps"), linear-gradient(45deg, #27e278 0, #54b78a 100%);
}

.go {
    background-color: #27e278;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.text-shadow-dark {
    text-shadow: #292b2c 1px 1px 3px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-me {
    list-style: none;
}

.about-me li {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}


/** SOCIAL */

.social {
    margin: 0;
    padding: 0;
    text-align: center;
    bottom: 10;
}

.social li {
    display: inline;
    margin-right: 20px;
    text-shadow: #292b2c 2px 5px;
}

#featured {
    width: 20%;
    position: fixed;
}

#resume {
    width: 80%;
    position: relative;
}


/** GLOBAL POSITION */

.y-100-xs {
    height: 100vw;
}


/** EXTERNAL REFS */

.external::after {
    font-family: 'Font Awesome 5 Free' !important;
    content: "\f062";
    display: inline-block;
    transform: rotate(45deg) !important;
    margin-left: 5px;
    font-weight: 900;
}


/** SAME PARENTS ATTRIBUTES */

.parent-color:link {
    color: inherit;
}


/** MEDIA SCREENS */

@media screen and (max-width: 991px) {
    #featured {
        width: 100%;
        position: relative;
    }
    #resume {
        width: 100%;
    }
    .y-100-xs {
        height: auto;
    }
}